@font-face {
    font-family: "germar";
    src: url('germar.ttf') format("truetype");
}
#loot-canvas {
	display: inline-table;
    image-rendering: optimizeSpeed;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
	width: 100%;
	max-width: 960px;
	max-height: 540px;
	overflow: hidden;
}
.container {
	max-width: 960px;
	overflow: hidden;
}
body {
	margin: 0;
	overflow: hidden;
	filter: contrast(3);
}